snippet cerr 
if err != nil{
	log.Fatal(err)
}
$1
endsnippet

snippet rerr 
if err != nil{
	return nil, err	
}
$1
endsnippet

snippet packxx 
package $1
import(
    "fmt"
    )
func main(){
    fmt.Println("xx")
}
endsnippet

